<h1>
    {[ exam_name ]}
</h1>

<div class="fc-margin-item col-xs-12 col-sm-6">
    <input type="text" class="form-control" ng-model="search" placeholder="{[ i18n('SEARCH') ]}">
</div>
<div class="clearfix"></div>

<div class="fc-margin-item" style="background-color: #eee;">
    <div class="col-xs-6">
        {[ i18n('EXAM_INFO') ]}
    </div>
    <div class="col-xs-6">
        {[ i18n('EXAM_COMMENTS') ]}
    </div>
    <div class="clearfix"></div>
</div>

<div class="fc-margin-item" ng-repeat="session in sessions | filter: search">
    <div class="col-xs-6">
        <div>
            <b>{[ i18n('FULL_NAME') ]}</b>: {[ session.orgExtra.firstName ]} {[ session.orgExtra.lastName ]}
        </div>
        <div>
            <b>{[ i18n('EVENT_START_TIME') ]}</b>: {[ session.orgExtra.examStartDate | date_localize ]}
            <br>
            <b>{[ i18n('EVENT_END_TIME') ]}</b>: {[ session.orgExtra.examEndDate | date_localize ]}
        </div>
        <div>
            <b>{[ i18n('DURATION') ]}</b>: {[ session.duration ]} {[ i18n('MIN') ]}
        </div>
        <div>
            <b>{[ i18n('ENDED_WITH_STATUS') ]}</b>: {[ session.attempt_status ]}
        </div>
    </div>
    <div class="col-xs-6">

    </div>
    <div class="clearfix"></div>
</div>
<br>
<div class="text-center">
    <a href="/#/archive">
        <button class="btn btn-primary">
            {[ i18n('BACK') ]}
        </button>
    </a>
</div>