<div class="fc-margin-item col-xs-12 col-sm-6">
    <div class="fc-margin-item col-xs-12 col-sm-6">
        <form>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    <input type="text" class="form-control" placeholder="{[ i18n('SEARCH') ]}" ng-model="searchFilter">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="clearfix"></div>
<table ng-table="tableParams" show-filter="false" class="table table-bordered table-striped">
    <tr ng-repeat="event in $data | filter:searchFilter">
        <td title="i18n('COURSE_NAME')"
            sortable="'course_name'">
            <a href="/#/archive/{[ event.hash_key ]}">{[event.course_name]}</a>
        </td>
        <td title="i18n('EXAM_NAME')"
            sortable="'exam_name'">
            <a href="/#/archive/{[ event.hash_key ]}">{[event.exam_name]}</a>
        </td>
        <td title="i18n('TESTING_CENTER')"
            sortable="'testing_center'">
            <a href="/#/archive/{[ event.hash_key ]}">{[event.testing_center]}</a>
        </td>
        <td title="i18n('EVENT_START_TIME')"
            sortable="'start_date'">
            {[ event.start_date ]}
        </td>
        <td title="i18n('EVENT_END_TIME')"
            sortable="'end_date'">
            {[ event.end_date ]}
        </td>
        <td title="i18n('PROCTOR')"
            sortable="'proctor'">
            {[ event.proctor ]}
        </td>
        <td title="i18n('COMMENT')">
            {[ event.comment ]}
        </td>
    </tr>
</table>