{% load static %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en" ng-app="proctor">
<head>
    <meta charset="UTF-8">
    <title>Proctoring</title>
    <base href="/">
    <meta name="viewport" content="width=device-width">
    <script src="{% static 'js/lib/script.min.js' %}"></script>
    {% javascript 'js' %}
    {% stylesheet 'css' %}
    <script type="text/javascript" src='{% static 'js/app.js' %}'></script>

    <script>
        window.app = {
            rootPath: "{% static 'js/app/' %}",
            logoutUrl: "{% url 'logout' %}",
            loginUrl: "{{ login_url }}",
            profileUrl: "{{ profile_url }}",
            spaConfig: {{ spa_config|safe }}
        }
    </script>
</head>
<body ng-cloak translate-cloak ng-controller="MainController">
{% if user_has_access %}
    <div>
        <header></header>
        <div class="container-fluid" ng-view></div>
    </div>
{% elif user.is_authenticated %}
    <div class="container text-center" ng-init="changeLanguage()">
        <h1 translate="ONLY_PROCTORS_INSTRUCTORS_ALLOWED"></h1>

        <h1>
            <button class="btn btn-default"
                    ng-click="logout()"
                    translate="LOGOUT">
            </button>
        </h1>
    </div>
{% else %}
    <div class="container text-center">
    {%  if sso_enabled %}
        <h1>
            <button class="btn btn-default"
                    ng-click="sso_auth()"
                    translate="AUTHORIZE">
            </button>
        </h1>
    {% else %}
        {% include "registration/login.html" %}
    {% endif %}
    </div>
{% endif %}

</body>
</html>
