{% load pipeline %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width">
    <script src="{% static 'js/lib/script.min.js' %}"></script>
    {% javascript 'js' %}
    {% stylesheet 'css' %}
    <script type="text/javascript" src='{% static 'js/app.js' %}'></script>

    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <script>
        window.rootPath = "{% static 'js/app/' %}";
    </script>
</head>
<body ng-app="proctor">
{% if user.is_authenticated %}
    <div translate-cloak>
        <header></header>
        <div class="container-fluid" ng-view ng-controller="MainController"></div>
    </div>
{% else %}
    <p>Please <a href="/login/sso_npoed-oauth2">login</a> for start proctoring</p>
{% endif %}

</body>
</html>