{% load static %}
{% load pipeline %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <base href="/">
    <meta name="viewport" content="width=device-width">
    <script src="{% static 'js/lib/script.min.js' %}"></script>
    {% javascript 'js' %}
    {% stylesheet 'css' %}
    <script type="text/javascript" src='{% static 'js/app.js' %}'></script>

    <script>
        window.app = {
            rootPath : "{% static 'js/app/' %}",
            logoutUrl : "{% url 'logout' %}",
            loginUrl : "{% url 'social:begin' 'sso_npoed-oauth2' %}"
        }
    </script>
</head>
<body ng-app="proctor" ng-controller="MainController">
{% if user.is_authenticated %}
    <div translate-cloak>
        <header></header>
        <div class="container-fluid" ng-view></div>
    </div>
{% else %}
    <div class="container text-center">
        <h1>
            <button class="btn btn-default" ng-click="sso_auth()">
                {[ i18n('AUTHORIZE') ]}
            </button>
        </h1>
    </div>
{% endif %}

</body>
</html>
