<div>
    <script type="text/ng-template" id="comments.html">
        <div class="modal-header">
            <h3 class="modal-title">
                {[ i18n('COMMENTS') ]}
            </h3>
        </div>
        <div class="modal-body">
            <div ng-repeat="comment in comments" class="fc-margin-item">
                <div class="col-xs-4">
                    {[ get_date(comment.timestamp) ]}
                    <br>
                    {[ comment.status ]}
                </div>
                <div class="col-xs-8">
                    {[ comment.comment ]}
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">{[ i18n('CANCEL') ]}</button>
        </div>
    </script>
</div>