<nav class="navbar navbar-default global-header">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/#/">
                <img alt="" src="/static/img/logo-light.png">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-left col-xs-12 col-sm-6">
                <li>
                    <a href="">
                        <h4>{{ 'TITLE' | translate | trusted }}</h4>
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-repeat="lng in supported_languages">
                    <a href="" ng-click="changeLanguage(lng)">
                        <img ng-src="/static/img/lng/{{lng}}.png" height="24">
                    </a>
                </li>
                <li class="dropdown">
                        <a href="#/"
                           class="dropdown-toggle"
                           data-toggle="dropdown"
                           role="button"
                           aria-haspopup="true"
                           aria-expanded="false">
                            <span class="icon profile-icon"></span>
                            <span class="hidden-sm">{{ 'MY_PROFILE' | translate | trusted }}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="">
                                    {{ 'PROFILE' | translate | trusted }}
                                </a>
                            </li>
                            <li>
                                <a href="" ng-click="logout()">
                                    {{ 'LOGOUT' | translate | trusted }}
                                </a>
                            </li>
                        </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
